{{#link-to "user"}}
  {{user.username}}
{{/link-to}}

<ul class="profile-stats">
  <li>
    <h4>Yells</h4>
    <p>{{user.numberOfYells}}</p>
  </li>
  <li>
    <h4>Following</h4>
    <p>{{user.numberOfFollowing}}</p>
  </li>
  <li>
    <h4>Followers</h4>
    <p>{{user.numberOfFollowers}}</p>
  </li>
</ul>

{{yield}}
